<div class="palm-header-spacer-new"></div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">Battery Health</span>
	</div>
	<div class="palm-list">
		<div class='palm-row first' id="battery_img_row">
			<div class="palm-row-wrapper" >
				<table class=tblbatteryicon border=0 >
					<tr >
				  		<td width=50% align="left" valign="middle">
				  			<img id="battery_icon" src="images/drbattery_empty_72x72.png" no-repeat left</img>
				  		</td>
				  		<td width=50% align="left" valign="middle">
							<div class="palm-row-wrapper textfield-group" id="grp_healthpercent" x-mojo-focus-highlight="true">
  								<div id="percent" class="txt_healthpercent"  x-mojo-element="TextField"></div>
							</div>
						</td>	
				 	</tr>
				</table>
			</div>
		</div>
		
		<div class='palm-row' id="row_monitor">
			<div class="palm-row-wrapper">
				<table class=tblactmonitor border=0>
					<tr >
				  		<td width=50% align="left" valign="middle">
				  			<div class="head_healthmonitor" id="head_actmonitor">Manufacturer Rating</div>
				  		</td>
				  		<td width=50% align="left" valign="middle">
							<div class="palm-row-wrapper textfield-group" id="grp_healthfull40" x-mojo-focus-highlight="true">
  								<div id="full40"  x-mojo-element="TextField"></div>
							</div>
						</td>	
				 	</tr>
				</table>				
			</div>
		</div>
		
		<div class='palm-row last' id="row_monitor">
			<div class="palm-row-wrapper">
				<table class="tblactmonitor" border=0 >
					<tr >
				  		<td width=50% align="left" valign="middle">
				  			<div class="head_healthmonitor" id="head_actmonitor">Caculated Left</div>
				  		</td>
				  		<td width=50% align="left" valign="middle">
							<div class="txt_healthmonitor" id="calculated" ></div>
				  		</td>
<!--				  		
				  		<td width=22% align="left" valign="middle">
							<div class="txt_healthmah" id="mah" >mAh</div>
				  		</td>
-->
				 	</tr>
				</table>				
			</div>
		</div>
	</div>
</div>
<div class="palm-body-text">
	<div id="botton_space"></dev>
	<div id="message"></div>
</div>
<div class="botton_space">
</dev>

